
.dataContainer {
  display: grid;
  gap: 2px;
  grid-template-columns: auto 1fr;
}

.colorContainer {
  display: inline-flex;
  flex-direction: row;
  gap: 1em;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4em;
  max-width: 300px;
}

.ddStyle {
  display: flex;
  justify-content: end;
  margin-inline-start: 2px;
}

.ddStyleNoContentEnd {
  display: flex;
  justify-content: start;
  margin-inline-start: 2px;
}

.row1span2Style {
  display: grid;
  column-gap: 12px;
  grid-template-columns: 80px 1fr;
  grid-column: span 2;
}

.span2Style {
  grid-column: span 2;
}

